.title {
  font-size: 30px;
  text-align: center;
  border: 4px solid;
  border-radius: 20px;
  height: 100px;
  background-color: lavender;
}
.buttons {
  border: 10px solid;
  background-color: silver;
  text-align: center;
  align-items: center;
  align-content: center;
  margin: 0;
  position: absolute;
  top: 35%;
  left: 23%;
}
.row1 {
  display: inline-block;
  position: relative;
  width: 90%;
  padding: 50px 25px;
  font-size: 16px;
  text-align: center;
  align-content: center;
  margin: 0;
}
.row2 {
  display: inline-block;
  width: 90%;
  padding: 50px 25px;
  font-size: 16px;
  text-align: center;
  align-content: center;
  margin: 0;
}
.button1 {
  font-size: 20px;
}
.button2 {
  font-size: 20px;
}
.button3 {
  font-size: 20px;
}
.button4 {
  font-size: 20px;
}
.button5 {
  font-size: 20px;
}
.button6 {
  font-size: 20px;
}
.head {
  text-align: center;
}
